.evaluate_container {
  position: relative;
  top: 12px;
  /* bottom: 12px; */
  width: 763px;
  height: auto;
  border-radius: 10px;
  margin: 0 auto;
  background: #fff;
}

.review_count {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 107px;
  align-items: center;
  /* background: pink; */
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  font-weight: 700;
}

.review_title {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 91px;
  padding: 1em;
  font-size: 28px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
}

.review_comment {
  position: relative;
  width: 100%;
  height: auto;
  
  /* top: 12px; */
  /* background: red; */
}

.expanded_comment:first-child{
  margin-top: 5em;
}

.comment_user {
  position: relative;
  display: flex;
  width: 100%;
  height: 62px;
  /* background: red; */
  color: #000;
  padding: 0 1.5em;
}

.user_avt {
  position: absolute;
  top: 50%;
  /* left: 1.5em; */
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user_avt img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user_detail {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  padding: 0 3em;
}

.comment_detail {
  margin: 0 auto;
  padding: 0.5em;
  width: 739px;
  background: transparent;
}

.comment_detail p {
  position: relative;
  height: auto;
  text-align: justify;
}

.user_like{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  right: 0px;
  width: 170px;
  height: 100%;
  /* background: #000; */
  color: #000;
  
}

.user_like p{
  font-size: 0.8em;
  font-weight: 600;
}

.user_like .like_icon{
}
