.searchResult_container {
  position: relative;
  margin: 1em auto 5em auto;
  width: 80%;
  height: 100vh;
  /* background: #000; */
}

.searchResult_null{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Krona One", sans-serif;

}

.searchResult_detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 350px 350px;
  gap: 20px;
}

.searchResult_child {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 12px 12px 24px #c4c4c4, -12px -12px 24px #ffffff;
}

.searchResult_img {
  width: 280px;
  height: 150px;
  margin: 1em auto;
  
}

.searchResult_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.searchResult_child .name {
  padding: 0 0.5em;
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: 1.5em;
}

.searchResult_child .price {
  padding: 0 0.5em;
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 1.5em;
}

.child_info {
  padding: 0 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
}

.searchResult_info{
  width: 700px;
  /* background: #000; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  margin-left: 3.125em;
  font-family: "Krona One", sans-serif;
}

.searchResult_info p:nth-child(2){
  color: #babcc4;
}
