.regist_user{
    width: 100%;
    min-height: 100vh;
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

.bg_img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    
}

.modal{
    width: 80%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 20%;
    height: 14%;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.logo::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}


.logo_img_border{
    width: 35%;
    /* height: 87%; */
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #007F9B;
    position: relative;
}
.logo_img_border::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.logo_img_border img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.logo_name{
    width: 60%;
    height: 100%;
    margin-left: 1%;
    background-color:#fff ;
    display: flex;
    align-items: center;
    justify-content: unset;
    font-size: 2vw;
    font-weight: 600;
}


.logo_name span:nth-child(1){
    color: #4440FF;

}

.logo_name span:nth-child(2){
    color: #860070;
}


.input_box{
    width: 70%;
    height: 50%;
    /* background-color: rebeccapurple; */
    margin: 5% 0 0 0;
}

.input_box_up{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_box1,
.input_box2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.input_box3{
    width: 100%;
    height: 20%;
    /* background-color: #007F9B; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_bar3{
    width: 90%;
    height: 70%;
    border-radius: 30px;
    padding: 0 3%;
    font-weight: 500;
    color: #000;
}

.input_bar{
    width: 80%;
    height: 17%;
    border-radius: 30px;
    padding: 0 6%;
    font-weight: 500;
    color: #000;
    background-color: #fff;
}

.input_country{
    width: 100%;
    height: 100%;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
}

.input_bar_country{
    padding: 0 10% 0 0%;
}

.input_bar::placeholder,
.input_bar3::placeholder{
    color: #000;
}

.input_bar,
.input_bar3,
.input_country:focus{
    outline: none;
    border: none;
}

.agree{
    width: 100%;
    height: 10%;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .agree .container{
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    font-weight: 500;
}

.agree .container input{
    width: 1.8vw;
    height: 1.8vw;
    background-color: white;
    border-radius: 30%;
    vertical-align: middle;
    border: 2px solid #000;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.agree .container input:checked{    
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.agree .container span{
    margin-left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agree .container span p{
    color: #0094FF;
} */

.signUp_btn{
    width: 30%;
    height: 7%;
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1.3vw;
    margin-top: 0%;
}


.container {
    width: 24%;
    display: flex;
    justify-content: center;
    position: relative;
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 1.5vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 15%;
    left: 0;
    height: 1.6vw;
    width: 1.6vw;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 8px;
}
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #fff;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
    
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 35%;
    top: 5%;
    width: 0.5vw;
    height: 1vw;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* react-select */

.react-select-container {
    /* margin-left: 1em; */
    border-radius: 20px;
  }
  
  .select .react-select__control {
    width: 344px;
    height: 53px;
    /* background: #000; */
    border-radius: 25px;
  }
  
  .select .react-select__menu {
    margin: 0.5em 1em;
  }
  
  /* .select .react-select__placeholder {
    color: #fff;
    padding: 0 1em; 
  } */
  .tag .react-select__menu {
    z-index: 10;
  }



