.banner{
    width: 100%;
    height: 10vw;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 3%;
    border-radius: 20px;
}

.banner_img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 20px;
}

.banner_name{
    position: absolute;
    right: 6%;
    width: 25%;
    height: 80%;
    /* background-color: #fff; */
    z-index: 1;
    text-align: right;
    font-weight: 600;
    font-size: 2.4vw;
    
}

.banner_name1{
    color: #404B5B;
}

.banner_name2{
    color: #fff;
}

.banner_name3{
    color: #C60077;
}


.banner_after{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6vw;    
    cursor: pointer;
    z-index: 10;
}

.banner_after span:nth-child(1){

}

.banner_after span:nth-child(2){
    font-weight: bolder;
   
}

.banner_booked{
    width: 100%;
    height: 100%;
    padding: 1% 0.5%;
    background-color: #FF8686;
    position: relative;
}

.one_booked{
    width: 23%;
    height: 100%;
    background-color: #fff;
    cursor: pointer;
    border-radius: 15px;
    padding: 0 1em;
}

.booked_name{
    width: 100%;
    height: 50%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden; 
    font-size: 2.5vw;
    font-weight: 500;
    /* background-color: aqua; */
}

.booked_quan_date_price{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5.5% 0 1.5% 0;
}

.booked_quan{
    width: 20%;
    display: flex;
    align-items: center;
    /* background-color: #007F9B; */
}

.booked_quan span{
    font-size: 1.8vw;
}

.quan_icon{
    color: #F1BC00;
    margin-right: 10%;
}

.booked_date{
    width: 35%;
    font-size: 1.5vw;
}

.booked_price{
    width: 35%;
    font-size: 1.5vw;
    color: #007F9B;
}

.banner_booked,
.banner_after{
    border-radius: 20px;
}

