.admin_page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin_sidebar{
    width: 20%;
    height: 100%;
    /* background-color: #00b4d8; */
    background-color: #fff;
}

.sidebar_logo_name{
    width: 100%;
    height: 15%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sidebar_logo_border{
    position: relative;
    width: 28%;
}
.sidebar_logo_border::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.sidebar_logo_border img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #007F9B;
}

.sidebar_name{
    font-size: 2vw;
    font-weight: 500;
}


.sidebar_container{
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar_container span{
    /* background-color: #227c9d; */
    background-color: #fff;
    text-transform: capitalize;
    font-size: 1.5vw;
}

.siderbar_option{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 500;
}

.siderbar_option:hover:nth-child(n+2){
    background-color: #90e0ef;
    /* background-color: #fff; */
}

.admin_tables{
    width: 80%;
    height: 100%;
    /* background-color: #caf0f8; */
    background-color: #fff;
    padding: 3%;
}




