.search{
    width: 100%;
    height: 25vw;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 3%;

}
.img_search_border{
    position: absolute;
    width: 100%;
    height: 100%;
}
.img_search{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search_group{
    width: 55%;
    height: 20%;
    /* background-color: blanchedalmond; */
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_btn{
    background-color: #fff;
    border-radius: 30px;
}
.search_bar{
    width: 90%;
    height: 80%;
    font-size: larger;
    /* background-color: red; */
    border-radius: 20px;
}
.search_bar:focus{
    border: none;
    outline: none;
}
.search_btn{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}