@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  /* display: none; */
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background-color: #555; */
  /* border-radius: 5px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
  opacity: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

/* button {
  border: none;
  outline: none;
  background: transparent;
} */

/* ul li {
  list-style: none;
} */
