.love{
    position: relative;
    width: 100%;
    height: 21vw;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-bottom: 3%;
}

.love_title{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.7vw;
    font-weight: 600;
}

.love_title span:nth-child(1){
    color: #0057FF ;
}
.love_title span:nth-child(2){
    color: #00B49E;
}

.love_carousel_border{
    width: 100%;
    height: 88%;
}

.love_carousel1{
    width: 100%;
    height: 100%;
    position: relative;
}

.love_carousel_item{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 5%;
}

.react-multiple-carousel__arrow--left{
    left: 0;
}

.react-multiple-carousel__arrow--right{
    right: 0;
}

.react-multiple-carousel__arrow{
   
}

.love_carousel_item_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.react-multi-carousel-track{
    height: 100%;
}

.love_carousel_item_body{
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.love_carousel_item_info{
    width: 100%;
    height: 35%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1% 3%;
}

.love_carousel_item_info_name{
    font-size: 1.5vw;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden; 

}

.love_carousel_item_info_rate{
    color: #A837BB;
}

.love_carousel_item_info_price{
    font-size: 1.2vw;
    font-weight: 600;
}
