.postpage_container {
  position: relative;
  display: flex;
  width: 1024px;
  height: auto;
  /* background: #000; */
  margin: 0 auto;
}

.post_side {
  width: 670px;
  height: 100%;
  margin: 0 auto;
  /* background: red; */
  box-shadow: #000000 8px 0px 9px -8px;
}

.post_title {
  position: relative;
  margin: 0 auto;
  width: 572px;
  height: auto;
  /* background: #fff; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.preview_img,
.img_picker {
  width: 150px;
  height: 150px;
  background-color: #e7e7e7;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.img_picker input[type="file"] {
  display: none;
}

.post_name_price {
  position: relative;
  width: 422px;
  height: auto;
  padding: 0 1em;
  /* background: #000; */
  display: flex;
  flex-wrap: wrap;
}

.post_name_price .input {
  width: 400px;
  height: 30px;
  padding: 0 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin: 0.5em 0;
}

.time_picker {
  width: 400px;
  height: 50px;
}

.post_body {
  width: 572px;
  margin: 1em auto;
  /* background: #000; */
}

.post_body .textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #ccc;
  padding: 0 1em;
}

.describe {
  border-top: 1px solid #ccc;
  margin: 2em 0;
  color: #000;
}

.describe h2 {
  margin: 0.5em 0;
}



.post_advertise {
  position: relative;
  width: 354px;
  /* background: pink; */
}

.advertising {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  /* background: #000; */
  margin: 1em auto;
  border-radius: 50px;
  /* background: linear-gradient(145deg, #f6f6f6, #cfcfcf); */
  box-shadow: 30px 30px 60px #c4c4c4, -30px -30px 60px #ffffff;
}

.logo {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  margin: 1em auto;
}

.logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.advertising .content {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.input_label {
  margin-top: 1em;
}

.modal .input {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  padding: 0 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal .create {
  margin-top: 1em;
  margin-left: 8em;
}

.post_location {
  /* background: #000; */
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.locationOptions_container {
  margin-right: 3.5em;
}

.post_time {
  display: flex;
  justify-content: space-between;
}

.post_time .input {
  width: 190px;
  text-align: left;
}

.post_time .input:first-child {
  margin-right: 1.2em;
}

.countries .react-select-container {
  width: 50%;
}

.countries .react-select__control {
  width: 280px;
}

.countries .react-select__menu {
}

/* .select .react-select__placeholder {
} */
.countries .react-select__menu {
  z-index: 10;
}

.countriesOptions_container {
  margin-top: 1em;
}

.post_status {
  margin-top: 1em;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #000; */
}
