.ticket{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4FD0AA;
}

.ticket-bg{
    position: absolute;
    width: 90%;
    height: 90%;
    z-index: 0;
}

.ticket_back_btn{
    position: absolute;
    top: -1%;
    left: 1%;
    font-size: 4vw;
}


.ticket_title_detail{
    width: 87%;
    height: 90%;
    /* background-color: aqua; */
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket_title{
    width: 18.4%;
    height: 80%;
    /* background-color: tan; */
    font-size: 5vw;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;

}

.titket_detail{
    width: 81%;
    height: 100%;
    /* background-color: gold; */
    padding: 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.detail_header{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 5%;
}

.detail_header p:nth-child(1){
    font-size: 3vw;
}   

.detail_header p:nth-child(2){
    font-size: 2.2vw;
}

.detail_header p:nth-child(3){
    font-size: 1.5vw;
}

.detail_header p:nth-child(4){
    font-size: 1vw;
}


.detail_body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aliceblue; */
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 20%;
}

.detail_body_title{
}

.detail_body_content{
    text-align: end;
}

.detail_footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.detail_footer_total{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2vw;
    font-weight: 700;
    border-top: 3px solid #4FD0AA;
    margin-bottom: 7%;
}

.detail_footer_cancle{
    width: 80%;
    height: 3vw;
    font-size: 1.5vw;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
    background-color:  #C883FF;
    /* margin-bottom: 1em; */
}

.notify{
    width: 300px;
}



