.header{
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 11;
    user-select: none;
}

.logo_name{
    width: 20%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo_border{
    position: relative;
    width: 50px;
    height: 50px;
}


.logo_border img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #007F9B;
}

.logo_name_border{
    width: 70%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    font-size: 25px;

}

.logo_name_border span:nth-child(1){
    color: #4361ee;
}

.logo_name_border span:nth-child(2){
    color: #b5179e;
}
.login_regist{
    width: 40%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.login_regist_btns{
    width: 30%;
    height: 50%;
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #000;
    font-weight: 700;
}
.login_regist_btns:hover{
    background-color: rgba(153, 153, 153, 0.2);
}

.sign_up-btn{
    background-color: #000;
    color: #fff;
}

.sign_up-btn:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

/* user login */
.login_regist_after{
    justify-content: end;
}
.user_name{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
}
.user_name span:nth-child(1){
    font-weight: 500;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden; 
}

.user_name span:nth-child(2){
    
}

.user_img_border{
    position: relative;
    width: 12%;
}
.user_img_border::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.user_img_border img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user_img_border:hover .user_option{
    display: block;
}

.user_option{
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    width: 200px;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 1px 5px #999;
    border-radius: 10px;
}

.user_option button{
    width: 100%;
    height: 50px;
    font-weight: 700;
    font-size: 1.1vw;
}
