.org_view_detail_tour {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 2% 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.detail_tour_header {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
}

.detail_tour_header button{
    width: 80px;
    height: 30px;
    background: green;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
}

.detail_tour_header_name {
  font-size: 3vw;
}

.detail_tour_header_price {
  font-size: 2vw;
}

.detail_tour_header_loca {
  font-size: 2vw;
}

.detail_tour_body {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}

.detail_tour_body_container {
  width: 40%;
  height: auto;
  box-shadow: 0px 0px 20px rgba(153, 153, 153, 1);
  border-radius: 15px;
  overflow-y: scroll;
}

.detail_tour_body_container table {
  border-collapse: collapse;
  width: 100%;
  /* border: 1px solid rgba(153, 153, 153, 0.5); */
  font-size: 1.2vw;
}

.detail_tour_body_container td,
th {
  text-align: center;
  border: 1px solid #dddddd;
  padding: 8px;
}

.detail_tour_body_container tr:nth-child(even) {
  background-color: rgba(153, 153, 153, 0.4);
}

.detail_tour_body_container tr:nth-child(1) {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.detail_tour_null {
  position: relative;
  margin: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Krona One", sans-serif;
}
