.org_view_tour {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  border-radius: 10px;
  padding: 3% 5%;
}

.org_view_tour_layout {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #999;
}

.org_view_tour_table {
  width: 100%;
  height: 92%;
  overflow-y: scroll;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.1vw;
}

.org_view_tour table {
  border-collapse: collapse;
  width: 100%;
  height: auto;
  overflow-y: auto;
}

.org_view_tour td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

.org_view_tour td,
th input {
  z-index: 10;
}

.org_view_tour tr:nth-child(1) {
  position: sticky;
  top: 0;
  /* background-color: #fde4cf; */
  background-color: #fff;
}

.org_view_tour tr:nth-child(even) {
  /* background-color: #ffcfd2; */
  background-color: #dddddd;
}
/* .org_view_tour tr:nth-child(2n+3){
    background-color: #cfbaf0;
} */

.org_view_tour_table_edit {
  width: 60%;
  background-color: #4361ee;
  box-shadow: 0px 0px 5px #4361ee;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
}

.org_view_tour_del {
  width: 100%;
  height: 8%;

  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 1%;
  /* background-color: #8eecf5; */
}

.org_view_tour_del button {
  width: 10%;
  height: 90%;
  font-size: 1.3vw;
  font-weight: 500;
  /* background-color: #b9fbc0; */
  background-color: #fe6d73;
  border-radius: 15px;
  color: #fff;
  margin-left: 1em;
  /* box-shadow: 2px 2px 5px #98f5e1; */
}

.org_view_tour_del button:first-child {
  background: green;
}

.org_view_tour_modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(153, 153, 153, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_edit_form {
  width: 30%;
  height: 50%;
  background-color: #fff;
  border-radius: 15px;
}

.edit_form_title {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
}

.edit_form_input {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.edit_form_input span {
  font-size: 1.5vw;
}

.edit_form_input input {
  width: 90%;
  height: 20%;
  /* background-color: #4361ee; */
  box-shadow: 0 0 5px #999;
  border-radius: 15px;
}

.edit_form_btns {
  width: 100%;
  height: 20%;
  /* background-color: #999; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2vw;
  color: #fff;
}

.edit_form_btns_cancle {
  width: 30%;
  height: 80%;
  background-color: #fe6d73;
  font-weight: 600;
  border-radius: 20px;
}

.edit_form_btns_accept {
  width: 30%;
  height: 80%;
  background-color: #4361ee;
  font-weight: 600;
  border-radius: 20px;
}
