.org_mgm{
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 20px #999;
    border-radius: 10px;
}

.org_mgm_table{
    width: 100%;
    height: 92%;
    overflow-y: scroll;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.1vw;

}

.org_mgm table{
    border-collapse: collapse;
    width: 100%;
    height: auto;
    overflow-y: auto;
}

.org_mgm td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

.org_mgm tr:nth-child(1){
    position: sticky;
    top: 0;
    /* background-color: #fde4cf; */
    background-color: #fff;
    z-index: 1;
}

.org_mgm tr:nth-child(even){
    /* background-color: #ffcfd2; */
    background-color: #dddddd;
}
/* .org_mgm tr:nth-child(2n+3){
    background-color: #cfbaf0;
} */


.org_mgm_del{
    width: 100%;
    height: 8%;
   
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 1%;
    /* background-color: #8eecf5; */
}

.org_mgm_del button{
    width: 10%;
    height: 90%;
    font-size: 1.3vw;
    font-weight: 500;
    /* background-color: #b9fbc0; */
    background-color: #fe6d73;
    border-radius: 15px;
    /* box-shadow: 2px 2px 5px #98f5e1; */
}