.review_container {
  position: relative;
  width: 840px;
  height: auto;
  /* background: blue; */
  /* margin-left: 147px; */
  margin: 0 auto;
  padding: 1.5em 12px;
}

.covid_note {
  position: relative;
  top: 12px;
  margin-bottom: 3em;
  width: 813px;
  height: auto;
}

.introduction {
  position: relative;
  /* top: 12px; */
  bottom: 12px;
  width: 763px;
  height: auto;
  border-radius: 10px;
  margin: 0 auto;
  background: #fff;
}

.covid_note_title {
  margin: 0 auto;
  width: 763px;
  height: 84px;
  background: #fff;
  border-radius: 10px 10px 0 0 ;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.title_img {
  margin-left: 12px;
  margin-top: 0.5em;
  width: 55px;
  height: 60px;
}

.title_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.covid_note_title h2 {
  padding: 1em 10px;
  font-size: 24px;
  font-weight: 700;
}

.covid_note_info {
  position: relative;
  width: 763px;
  height: auto;
  margin: 0 auto;
  background: #fff;
  border-radius: 0 0 10px 10px;
}

.covid_note_info h2{
  padding: 0 15px;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 30px;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  color: #000;
  padding: 0 1em;
  width: 763px;
  height: auto;
  /* background: #fff; */
}

ul{
  list-style-type: disc;
}

.info li {
  line-height: 40px;
  font-size: 14px;
}

.row{
  width: 370px;
  padding: 0 15px;
  height: 230px;
  /* background: pink; */
}

.intro{
  position: relative;
  margin: 1em 0 ;
  padding: 16px 15px;
  width: 100%;
  height: auto;
  
  background: transparent;
}

.intro h2{
  height: 50px;
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 0.3em;
  border-bottom: 1px solid #ccc;
}

.intro p {
  text-align: justify;
}

.introduce {
  top: 12px;
}


