.content_title {
    position: relative;
    width: 1256px;
    height: 200px;
    /* background: red; */
    margin: 0 auto;
  }
  
  .content_title_head {
    width: 1232px;
    height: 121px;
    margin: 0 auto;
    /* background: white; */
  }
  
  .content {
    width: 1051px;
    height: 121px;
    margin: 0 auto;
    padding: 0.5em;
    /* background: red; */
    color: #000;
  }
  
  .content .name {
    margin-bottom: 0.3em;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
  }
  
  .content .by {
    font-size: 14px;
  }
  
  .rate {
    position: relative;
    display: flex;
    margin-top: 0.5em;
    /* padding: 0.2em 0; */
    width: auto;
    height: auto;
    /* background: pink; */
  }
  
  .rate .rate_numb {
    position: absolute;
    left: 10em;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 600;
    color: #000;
    
  }
  
  .covid {
    width: 1051px;
    height: 50px;
    margin: 0.5em auto;
    padding: 0.8em 0.5em;
    background: #c7f2d4;
    border-radius: 10px;
  
  }
  
  .covid_content {
    font-size: 14px;
    padding-left: 0.5em ;
    color: #000;
    border-left: 4px solid #00aa6c;
  }