.detail_booking {
  position: relative;
  width: 1256px;
  height: 572px;
  /* background: #fff; */
  margin: 0 auto;
}

.booking {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 1em;
  bottom: 1.5em;
  width: 1232px;
  height: 476px;
  /* background: #000; */
  margin: 0em auto;
}

.booking_img {
  width: 670px;
  height: 465px;
  background: #ffffff;
}

.booking_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.booking_detail {
  position: relative;
  padding: 10px 0;
  width: 550px;
  height: 465px;
  background: #ffffff;
  /* padding: 10px; */
}

.date {
  position: relative;
  width: 545px;
  height: auto;
  /* background: #fff; */
}

.price {
  position: relative;
  width: 100%;
  padding: 0 15px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.price h2 {
  font-weight: 700;
  font-size: 20px;
}

.option {
  position: relative;
  top: 1em;
  width: 100%;
  height: 35px;
  /* background: #000; */
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.opt {
  border: 1px solid #ccc;
}

.peopleCount,
.opt {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 100%;
  background: transparent;
  border-radius: 5px;
  /* background: pink; */
}

.count{
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 2em;
  /* background: #000; */
}

.peopleCount{
  height: 40px;
  padding: 0 1.5em;
}

.user_icon {
  margin-right: 0em;
}

.another_option {
  position: relative;
  top: 1em;
  width: 100%;
  height: auto;
  /* background: #000; */
  padding: 0 15px;
  padding-top: 1em;
}

.another_option button {
  width: 100%;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 16px;
  color: #000;
  background: #f2b203;
  margin: 1em 0;
}

.another_option h2 {
  padding: 0.5em 5px;
  font-weight: 600;
}
