.login{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(153, 153, 153, 0.5);
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disable_login{
    display: none;
}

.login_box{
    width: 50%;
    height: 60%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.login_box_title{
    width: 100%;
    height: auto;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.5vw;
}

.login_box_title p:nth-child(1){
    margin: 1.2% 1% 0 0;
}


.login_box_title p:nth-child(2){
    color: #4440FF;
    font-size: 2.5vw;
    
}

.login_box_title p:nth-child(3){
    color: #860070;
    font-size: 2.5vw;
    

}
.login_box_body{
    width: 100%;
    height: 40%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5% 0 2% 0; 
}

.login_bar{
    width: 50%;
    height: 30%;
    border-radius: 30px;
    padding: 0 3%;
    border: 1px solid #000;
}

.login_bar:focus{
    border: none;
    outline: none;
    box-shadow: 0px 0px 20px #74b9ff; 
    
}

.login_bar::placeholder{
    color: #000;
}

.login_box_btn{
    width: 35%;
    height: 11%;
    background-color: #000;
    color: #fff;
    font-size: 1.3vw;
    font-weight: 600;
    border-radius: 30px;
}

.login_box_btn:hover{
    background-color: rgba(0, 0, 0, 0.8);
}






