.footer{
    width: 100%;
    /* height: 400px; */
    height: auto;
    background-color: rgba(252, 213, 206, 0.4);
    padding: 1% 12%;
    user-select: none;

}

.more_info{
    width: 100%;
    height: 70%;
    display: flex;
    /* justify-content: space-between */
}

.block_info{
    width: auto;
    height: 100%;
    /* background-color: aqua; */
    margin-right: 2%;
}

.info_header{

}

.info_content{
    font-weight: 600;
}

.info_content li:hover{
    color: rgba(0, 0, 0, 0.7);
    text-decoration: underline;
    cursor: pointer;
    
}

.certificate{
    width: 100%;
    height: 30%;
    /* background-color: aliceblue; */
    display: flex;
    margin-top: 2%;
    /* align-items: center; */
}

.cert_logo{
    position: relative;
    width: 5%;
    /* background-color: #000; */
    margin-right: 1%;
}
.cert_logo img{
    border-radius: 50%;
    object-fit: cover;
}
.cert_logo img::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.cert_content{
    width: 100%;
    height: 70%;
}

.cert_content span{
    font-size: small;
}

.privacy{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: rebeccapurple; */
}

.privacy_content{
    height: auto;
    margin-right: 1%;
}

.privacy_content:hover{
    color: rgba(0, 0, 0, 0.7);
    text-decoration: underline;
    cursor: pointer;
}

.notify{
    font-size: small;
    text-align: justify;
}

.show_more{
    font-weight: 700;
    text-decoration: underline;

}

.moree{
    display: none;
}




