.my_cmt {
  position: relative;
  display: flex;
  top: 0em;
  left: 0em;
  width: 720px;
  height: 260px;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-in-out 0s;
  /* background: red; */
  margin: 0 auto;
}


.avatar {
  position: relative;
  left: 0;
  top: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  /* background: #000; */
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  position: absolute;
  width: 70px;
  left: 4.5em;
  top: 1.5em;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.017em;
  white-space: nowrap;
  /* background: #000; */
  color: #000000;
}

.star {
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
}

.text_area {
  position: absolute;
  top: 80px;
  width: 720px;
  height: 150px;
  /* background: #000; */
}

textarea {
  border: none;
  outline: none;
  padding: 1.5em;
  width: 100%;
  height: 150px;
  border-radius: 0px 10px 10px 10px;
  border: 1px solid #8e8e8e;
}

textarea::placeholder {
  font-size: 18px;
  font-weight: 600;
}

.warn {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  color: #8e8e8e;
  font-weight: 500;
  letter-spacing: 1px;
}

.submit {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 0;
  bottom: -2.5em;
  width: 300px;
  height: 50px;

  /* background: #000; */
}



.icon {
  margin-left: 0.5em;
}


.submit button {
  width: 140px;
  height: 100%;
  border: none;
  outline: none;
  /* background: #ffffff;
  border-radius: 10px; */
  border-radius: 10px;
  z-index: 10;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0px 5px 5px #c4c4c4, 0px -5px 5px #ffffff;
}

.send {
  color: #fff;
  background: #ffd954;
}

.send:active {
  background: #ffd954;
  box-shadow: inset 19px 19px 38px #d9b847, inset -19px -19px 38px #fffa61;
}

.cancel {
  background: #ffffff;
}

.cancel:active {
  background: #e6e6e6;
  box-shadow: inset 5px 5px 10px #c4c4c4, inset -5px -5px 10px #ffffff;
}

.notify {
  position: absolute;
  bottom: -4em;
}
